<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:gfe="http://www.springframework.org/schema/gemfire"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/gemfire http://www.springframework.org/schema/gemfire/spring-gemfire.xsd">
		
    <gfe:cache properties-ref="props" />
               
    <util:properties id="props">
    	<prop key="locators">${locators:localhost[10334]}</prop>
    	<prop key="name">${gemfire-name:gemfire-server}</prop>
    </util:properties>
    
    <bean id="functions" class="com.pivotal.cloudfoundry.service.broker.gemfire.GemfireFunctions"/>
    
    <gfe:cache-server auto-startup="true" port="0"/>
    
    <!-- Admin Region(s) used for Broker tracking tasks -->
    <gfe:replicated-region id="planRegion" name="broker-plan" persistent="true" />
    <gfe:replicated-region id="provisionRegion" name="broker-provision" persistent="true" />
    
</beans>


